/*로그인*/
.login_body {
    padding: 0;
}

.login_div {
    margin: 170px auto 200px auto;
    font-family: 'Poor Story', cursive;
}

.login_div ul {
    border: 1px solid #e6e6ea;
    padding: 0;
}

.login_div ul li {
    list-style: none;
    margin: 20px auto;
}

.login_div ul li input {
    width: 95%;
    height: 30px;
    margin: 0 auto;
    display: block;
    border: 1px solid #e6e6ea;
}

.login_div ul a{
    text-decoration-line: none;
}

.btn_login,.btn_newMember {
    background-color: cadetblue;
    border: 1px solid #e6e6ea;
    border-radius: 5px;
    margin: 30px auto;
    display: block;
    width: 95%;
    height: 30px;
    font-size: 20px;
    color: white;

}

/*회원정보수정*/
.modifyForm {
    margin-top: 30px;
}

.btn_modify {
    display: block;
    margin: 0 auto;
    width: 100%;
}