li {
    list-style: none;
}
.order_inner {
    position: relative;
    display: flex;
    height: 120px;
    margin-left: 0px;
}
.order_inner dl dt div {
    width: 185%;
    height: 150px;
    margin-left: 20px;
}
.order_inner dl dt div h1 {
    font-size: 25px;
    margin-bottom: 10px;
    
}
.order_inner dl dt div img {
    width: 20px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;

}
.order_inner dl dt div span {
    font-size: 18px;
    margin-top: 10px;
    color: gray;
    
}
.order_inner .banchan_img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.title{
    justify-content: space-between;
    position: relative;
    display: flex;
    background-color: lightblue;
    border-radius: 2px;
    font-size: 20px;
}

.title li {
    margin-right: 20px;
}
.title_p {
    font-weight: bold;
    font-size: 18px;
    margin-left: -25px;
}