body{
    background-color: lightgray;
}

li {
    list-style: none;
}
.order_title {
    background-color: whitesmoke;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}
.order_title p{
     margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
.order_inner {
    position: relative;
    display: flex;
    height: 120px;
    margin-left: 0px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
}
.order_inner dl dt div {
    width: 185%;
    height: 150px;
    margin-left: 20px;
}
.order_inner dl dt div h1 {
    font-size: 25px;
    margin-bottom: 10px;
    
}
.order_inner dl dt div img {
    width: 20px;
    margin-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;

}
.order_inner dl dt div span {
    font-size: 18px;
    margin-top: 10px;
    color: gray;
    
}
.order_inner .banchan_img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
.title{
    justify-content: space-between;
    position: relative;
    display: flex;
    background-color: lightblue;
    border : 1px solid black;
    border-radius: 2px;
    font-size: 16px;
}

.title li {
    margin-right: 4px;
}
.title_p {
    font-weight: bold;
    font-size: 16px;
    margin-left: -36px;
}

/*orderList*/
.deli_adress {
    background-color: whitesmoke;
}
.deli_adress div {
    border:1px solid rgb(85, 85, 80);
    border-radius: 5px;
    
}

.deli_adress ul {
    margin-left: -35px;
    border : 1px solid black;
    border-radius: 10px;
}
.deli_banchan {
    border: 1px solid black;
    border-radius: 5px;
   
}
.deli_banchan{
    background-color: whitesmoke;
    margin-top: 20px;
}
.deli_banchan h1{
    font-size: 20px;
}
.deli_banchan span {
    text-align: right;
    display: block;
    position: inherit
}

.to_price {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.to_price li span {
    margin : 5px
}
.tracker {
    display: inline-flex;
    width: 80%;
    margin: auto;
}

.tracker img{
    width: 30px;
    height: 30px;
}