{% extends 'admin/master.html' %}

{% block body %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
/*
    const inputString = prompt("?")
    if(inputString === ""){
        alert("아무것도 입력하지 않았습니다.")
        window.location.reload()
    } else {
        $.ajax({
            type: 'POST',
            url: '/bluenight/check',
            data: {pass: inputString},
            success: function (response) {
                if(response.chk === 'true'){

                } else {
                    alert(response.msg)
                    window.location.reload()
                }
            }
        })
    }

 */
</script> -->
<h2>사진은 이미지경로를 입력해주세요 (예시:static/img/logo.jpg)</h2>
<p>admin 페이지 접근, 보안 구현 필요</p>
{% endblock %}
