<!DOCTYPE html>
<html lang="en">
<head>
        <!-- 부트스트랩! -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MomsKitchen - Cart</title>
    <style>
        table.type07 {
            border-collapse: collapse;
            text-align: left;
            line-height: 1.5;
            border: 1px solid #ccc;
            margin: 20px 10px;
        }

        table.type07 thead {
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            background: #e7708d;
        }

        table.type07 thead th {
            padding: 10px;
            font-weight: bold;
            vertical-align: top;
            color: #fff;
        }

        table.type07 tbody th {
            width: 150px;
            padding: 10px;
            font-weight: bold;
            vertical-align: top;
            border-bottom: 1px solid #ccc;
            background: #fcf1f4;
        }

        table.type07 td {
            width: 350px;
            padding: 10px;
            vertical-align: top;
            border-bottom: 1px solid #ccc;
        }

        .thumbnail{
            width:50px;
        }
    </style>
    <script>
        $(document).ready(function () {
            showOrders();
        });

        function showOrders(){
            let temp_html = ``;
            let menu = '';
            let price = 0;
            let count = 0;
            let index = 0; //새로운 메뉴가 들어갈 index (maxIndex + 1)
            let price_all = 0;
            if (localStorage.length > 0) {
                for (let i = 1; i < localStorage.length+1; i++) {
                    if(localStorage.getItem(i) !== null){
                        let cartItem = JSON.parse(localStorage.getItem(i))
                        index = cartItem.id;
                        menu = cartItem.menu;
                        price = cartItem.price;
                        count = cartItem.count;
                        img_url = cartItem.img_url;
                        price_all += Number(price)

                        // 주의: index 앞뒤로 공백이 있으면 삭제버튼에서 index값을 불러올 때 공백까지 불러와서 에러 발생
                        temp_html += `
                            <tr>
                                <td class="index">${index}</td>
                                <td><img class="thumbnail" src="${img_url}" /></td>
                                <td class="menu">${menu}</td>
                                <td>${count}<button onclick="updateCount(this,1)" class="plus">+</buttn><button onclick="updateCount(this,-1)" class="minus">-</button></td>
                                <td>${price}원</td>
                                <td><button onclick="deleteMenu(this)">삭제</button></td>
                            </tr>
                        `;
                    }
                }
            }
            $("#orderTable").append(temp_html)
        }

        function updateCount(e, num){
            //현재 고치려고 하는 데이터의 index값 찾기
            let target = $(e).closest('tr').find('.index').text();
            //해당 index의 데이터 불러오기
            let cartItem = JSON.parse(localStorage.getItem(target))
            //가져온 데이터에서 수량값이 현재 1이거나 그 이하이고 마이너스버튼을 눌렀을 경우엔 안내메시지 띄우고 중단
            if(cartItem.count < 2 && num === -1){
                alert("수량은 최소 1개입니다. 삭제를 원하실 경우 삭제버튼을 이용해주세요.");
                return false;
            }
            //나머지는 그대로, 수량count과 가격price만 변경하여 기존 데이터를 삭제하고 다시 넣기
            let index = Number(target);
            let id = Number(index);
            let menu = cartItem.menu;
            //총 가격에서 개수를 나눠 단가를 계산한 뒤, num을 곱해 +인지 -인지 결정
            let price = cartItem.price + num*(cartItem.price/cartItem.count);
            let count = cartItem.count + num;
            img_url = cartItem.img_url;
            let value = {
                id: id,
                menu: menu,
                price: price,
                count: count,
                img_url: img_url
            };
            localStorage.setItem(index, JSON.stringify(value)); //localStorage에 저장(덮어쓰기됨)
            window.location.reload();
        }

        function deleteMenu(e){
            //현재 버튼 누른 메뉴의 index값 불러와서 localStorage에서 삭제
            let del_index = $(e).closest('tr').find('.index').text();
            localStorage.removeItem(del_index);

            //localStorage의 남은 값들을 모두 불러와서 index를 앞쪽숫자부터 다시 부여해서 순서대로 재등록(index와 cart페이지의 for문이 정상적으로 돌도록)
            if (localStorage.length > 0) {
                //새로운 index를 앞에서부터 차례로 부여해주기 위한 j 변수 선언
                let j = 0;
                //+2인 이유: 0부터가 아닌 1부터 시작하므로 +1, 이미 지워진 하나때문에 값이 하나씩 밀려있으므로 getItem(i)가 끝까지 다 가려면 +1
                for (let i = 1; i < localStorage.length+2; i++) {
                    if (localStorage.getItem(i) !== null) {
                        j++;
                        //전부 가져와서 그대로 재등록하기.(key, id값만 변경됨)
                        let cartItem = JSON.parse(localStorage.getItem(i))
                        //console.log(cartItem)
                        let index = j;
                        let id = Number(index);
                        let menu = cartItem.menu;
                        let price = cartItem.price;
                        let count = cartItem.count;
                        img_url = cartItem.img_url;
                        let value = {
                            id: id,
                            menu: menu,
                            price: price,
                            count: count,
                            img_url: img_url
                        };
                        //지금 새로 등록하려는 데이터를 localStorage에서 삭제(삭제하지 않으면 중복으로 남아있게 됨)
                        localStorage.removeItem(i);
                        localStorage.setItem(index, JSON.stringify(value)); //localStorage에 저장
                    }
                }
            }
            window.location.reload();
        }

        function deleteAll(){
            window.localStorage.clear();
            window.location.reload();
        }

    </script>
</head>
<body>
    <table class="type07">
        <thead>
            <tr>
                <th>번호</th>
                <th>이미지</th>
                <th>메뉴</th>
                <th>수량</th>
                <th>가격</th>
                <th><button onclick="deleteAll()">전체삭제</button></th>
            </tr>
        </thead>
        <tbody id="orderTable">

        </tbody>
    </table>

</body>
</html>