<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <script src="../static/js/common.js"> </script>
    <script src="https://kit.fontawesome.com/447b429f54.js" crossorigin="anonymous"></script>
    <title>엄마의 부엌 | 원산지</title>
    <style>
        td, th {
            border: 1px solid; padding : 10px 5px;
        }

        th{
            background-color: teal; color: white;
        }
    </style>
    <script>
        $(document).ready(function () {
            showDetails();
        
        });


        function showDetails(){

            $.ajax({
                        type: 'GET',
                        url: '/details/get',
                        data: {},
                        success: function (response) {
                            let originList = response['originList']
                            let name ='';
                            let origin = '';
                            
                            console.log(response);
                            console.log(originList);

                            let test_html = ``; 

                            for(let i =0; i<originList.length; i++){
                                name = originList[i]['name'];
                                origin = originList[i]['origin'];
                            
                                console.log(name + origin)
                                
                                
                                        test_html += `<tr>
                                            <td> ${name} </td>
                                            <td> ${origin}</td>
                                        </tr>`;
            
                   
                            }
                            $('#emptyTable').append(test_html)
                        }
    
                    })
                }
              
                    

    </script>
</head>
<body>
<header w3-include-html="header.html"></header>
<div id="emptySpace" style="margin-top: 50px;"></div>
<table style="width: 50%; margin: auto; text-align: center; border: 2px solid; border-collapse:collapse;">
    <thead>
        <th>이름</th>
        <th>원산지</th>
    </thead>
    <tbody id="emptyTable">
    </tbody>
</table>
<!--푸터영역-->
<footer w3-include-html="footer.html"></footer>
<script>
    includeHTML();
</script>
</body>
</html>