<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Mom'sKitchen - 원산지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <script src="../static/js/common.js"> </script>
    <script src="https://kit.fontawesome.com/447b429f54.js" crossorigin="anonymous"></script>
</head>
<body>
<header w3-include-html="header.html"></header>

<p> 준비 중입니다. </p>


<!--푸터영역-->
<footer w3-include-html="footer.html"></footer>
<script>
    includeHTML();
</script>
</body>
</html>