<footer>
    <div style="background-color: rgb(255, 255, 255); width : 100%; text-align: left;">

       
            <p>
                <b>계좌번호 : 하나은행 348-910231-61607</b>
            </br>
                주소 : 하남두산위브 1층(홈플러스) | 전화번호 : 031)793-9867
                <br>
                영업시간 : 오전 9시~저녁 8시<br>
                엄마의 부엌 대표 : 차민지    <a href="https://www.instagram.com/mom.s_kitchen__/"><img src="static/img/instagram.png"
                    style="width: 30px; height: auto; ;"></a>
            </p>
            <p>이 페이지는 모바일에 최적화되어있습니다.</p>
    </div>
</footer>