<footer>
    <div style="background-color: rgb(190, 190, 190); width : 100%; text-align: center;">
            <p><a href="#">오시는 길</a></p>
            <p>주소: 하남두산위브 1층(홈플러스)</p>
            <p>전화번호: 031-793-9867</p>
            <p>영업시간: AM9:00~PM20:00</p>
            <p><b>계좌: 하나 348-910231-61607</b></p>
            <p>대표: 차민지</p>
            <a href="https://www.instagram.com/mom.s_kitchen__/"><img src="static/img/instagram.png"
                            style="width: 30px; height: auto; ;"></a> 맘스 키친(엄마의부엌)
    </div>
</footer>