
<nav class="menu">
    <ul class="menu_item">
            <li><a href="#" id="item" onclick="testjax()">로그인(삭제하고 관리자 로그인 만들어주세요)</a> </li>
            <li><a href="#" id="item">장바구니</a> </li>
            <li><a href="#" id="item">주문조회</a> </li>
            <li><a href="#" id="item">관리자</a> </li>
    </ul>
</nav>
<header>
    <img src="../static/img/logo.png" alt="이미지로딩" class="logo">
</header>
<nav class="toolbar">
    <ul class="toolbaritem">
            <li><a href="#" id="tolitem">매뉴</a> </li>
            <li><a href="#" id="tolitem">매뉴2</a> </li>
            <li><a href="#" id="tolitem">매뉴3</a> </li>
    </ul>
</nav>