<nav id="navbar">
        <div class="navbar_logo">

            <a href="/"><img src="../static/img/logo.png" style="width: 120px;"></a>
        </div>

            <ul class="navbar_menu">
                <li><a href="/detail">상품 원산지</a></li>
            </ul>

            <ul class="navbar_icons">
                <!--<li><i class="fas fa-key"></i></li>-->
                <li><a href="/order"><i class="fas fa-shopping-basket"></i></a></li>
                <li><a href="/orderlist"><i class="fas fa-truck"></i></a></li>
            </ul>

        <!-- <a class="navbar_toogleBtn" href="#">
            <i class="fas fa-bars"></i>
        </a> -->
    </nav>

<!-- <nav class="menu">
    <ul class="menu_item">
            <li><a href="#" id="item" onclick="testjax()">로그인</a> </li>
            <li><a href="#" id="item">장바구니</a> </li>
            <li><a href="#" id="item">주문조회</a> </li>
    </ul>
</nav>

<nav class="toolbar">
    <ul class="toolbaritem">
            
            <li><a href="#" id="tolitem">전체보기</a> </li>
            <li><a href="#" id="tolitem">김치</a> </li>
            <li><a href="#" id="tolitem">마른반찬</a> </li>
            <li><a href="#" id="tolitem">나물</a> </li>
            <li><a href="#" id="tolitem">국/탕/찌개</a> </li>
            <li><a href="#" id="tolitem">조림/구이</a> </li>
            <li><a href="#" id="tolitem">튀김/전</a> </li>
            <li><a href="#" id="tolitem">도시락</a> </li>
            <li><a href="#" id="tolitem">제사/명절</a> </li>

    </ul>
</nav> -->
