
<nav class="menu">
    <ul class="menu_item">
        <li><a href="#" id="item" onclick="testjax()">로그인</a> </li>
        <li><a href="#" id="item">장바구니</a> </li>
        <li><a href="#" id="item">주문조회</a> </li>
    </ul>
</nav>
<header>
    <img src="../static/img/logo.png" alt="이미지로딩" class="logo">
</header>
<nav class="toolbar">
    <ul class="toolbaritem">
        <li><a href="#" id="tolitem">매뉴</a> </li>
        <li><a href="#" id="tolitem">매뉴2</a> </li>
        <li><a href="#" id="tolitem">매뉴3</a> </li>
    </ul>
</nav>