<!DOCTYPE html>
<html lang="ko">

<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        
        <title>test</title>
        <!-- css 분리부분 -->
        <link rel="stylesheet" type="text/css" href = "../static/css/main.css">
        
        <script>
                function includeHTML() {
                        var z, i, elmnt, file, xhttp;
                        /* Loop through a collection of all HTML elements: */
                        z = document.getElementsByTagName("*");
                        for (i = 0; i < z.length; i++) {
                                elmnt = z[i];
                                /*search for elements with a certain atrribute:*/
                                file = elmnt.getAttribute("w3-include-html");
                                if (file) {
                                        /* Make an HTTP request using the attribute value as the file name: */
                                        xhttp = new XMLHttpRequest();
                                        xhttp.onreadystatechange = function () {
                                                if (this.readyState == 4) {
                                                        if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                                                        if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                                                        /* Remove the attribute, and call this function once more: */
                                                        elmnt.removeAttribute("w3-include-html");
                                                        includeHTML();
                                                }
                                        }
                                        xhttp.open("GET", file, true);
                                        xhttp.send();
                                        /* Exit the function: */
                                        return;
                                }
                        }
                }

                function testjax() {
                        $.ajax({
                                type: 'GET',
                                url: '/mypage/do?sample_give=샘플데이터',
                                data: {},
                                success: function (response) {
                                        let articles = response['data'];
                                        let a = JSON.parse(articles)
                                        console.log(a)
                                        for(let i = 0 ; i < a.length ; i++){
                                                let img = a[i]["img"]
                                                let menu = a[i]['menu']
                                                let price = a[i]['price']
                                                let hide = a[i]['hide']

                                                // console.log(img,menu,price,hide)

                                                let temp_html = `
                                                <div class="card">
                                                        <img class="card-img-top"
                                                        src="${img}"
                                                        alt="Card image cap"
                                                        style="width: 100px; height: auto;">
                                                        <div class="card-body">
                                                        <a target="_blank" href="#" class="card-title">${menu}</a>
                                                        <p class="card-text">가격 : ${price}</p>
                                                        <p class="card-text comment">대충 수량 넣는곳 + -</p>
                                                        <button onclick=test()>장바구니 On</button>
                                                        <button>바로주문.</button>
                                                        </div>
                                                </div>
                                                `
                                                if(hide == 0){
                                                        $("#cards-box").append(temp_html)
                                                }
                                                
                                        }
                                        

                                }
                        });
                }
                function test(){
                        alert("장바구니 확인!!")
                }
                $(document).ready(function () {
                        testjax();
                });
        </script>
</head>

<body class="bodycs">
        <!-- <header w3-include-html = "header.html"></herder> -->
        <header w3-include-html="header.html"></header>
        <button>일단 일괄 주문버튼도 있어야겟지?</button>
        <div id="cards-box" class="card-columns">
            <div class="card">
                <img class="card-img-top"
                     src="../static/img/KakaoTalk_20210719_190856996_23.jpg"
                     alt="Card image cap"
                     style="width: 100px; height: auto;">
                <div class="card-body">
                    <a target="_blank" href="#" class="card-title">반찬이름!!</a>
                    <p class="card-text">가격 : 34000000000</p>
                    <p class="card-text comment">대충 수량 넣는곳 + -</p>
                    <button onclick=test()>장바구니 On</button>
                    <button>바로주문.</button>
                </div>
            </div>
                    
        </div>

        <script>
                includeHTML();
        </script>

        <footer w3-include-html="footer.html"></footer>
</body>

</html>