<!DOCTYPE html>
<html lang="ko">

<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>맘스 키친 | Mos's Kitchen</title>
        <link rel="stylesheet" type="text/css" href = "../static/css/common.css">
        <script src="../static/js/common.js"> </script>
        <script src="https://kit.fontawesome.com/447b429f54.js" crossorigin="anonymous"></script>
        <script>

                function testjax() {
                        $.ajax({
                                type: 'GET',
                                url: '/mypage/do?sample_give=샘플데이터',
                                data: {},
                                success: function (response) {
                                        a = response["data"]

                                        for (let b = 0; b < a.length; b++) {
                                                console.log(a[b])
                                        }
                                }
                        });
                }



        </script>


</head>

<body class="bodycs">
        <!-- <header w3-include-html = "header.html"></herder> -->
        <header w3-include-html="header.html"></header>
        <div class="list">
            <label>판매 목록</label>
            <select id="banchan_list">
                    <option value="all" selected>전체</option>
                    <option value="kimch">김치</option>
                    <option value="maleun">마른반찬</option>
                    <option value="namul">나물</option>
                    <option value="gug">국/탕/찌개</option>
                    <option value="jolim">조림/구이</option>
                    <option value="twigim">튀김/전</option>
                    <option value="dosilag">도시락</option>
                    <option value="jesa">제사/명절</option>
            </select>
        </div>
        <div id="tab01" class="tab_contents">
                탭 1
        </div>
        <div id="tab02" class="tab_contents">
                탭 2
        </div>
        <div id="tab03" class="tab_contents">
                탭 3
        </div>
        <div id="tab04" class="tab_contents">
                탭 4
        </div>
        <div id="tab05" class="tab_contents">
                탭 5
        </div>
        <div id="tab06" class="tab_contents">
                탭 6
        </div>
        <div id="tab07" class="tab_contents">
                탭 7
        </div>
        <div id="tab08" class="tab_contents">
                탭 8
        </div>

        <script>
                includeHTML();
        </script>

        <footer w3-include-html="footer.html"></footer>
</body>

</html>