<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device=width, initial=scale=1.0">
	<title>반찬가게</title>
	<link rel="stylesheet" href="../static/css/slide.css">
	<link rel="stylesheet" href="../static/css/reset.css">

</head>
<body>
<header class="header " id="header">
	<h2 class="blind">헤더 영역</h2>
	<div class="gnb-wrap">
		<div class="gnb-left">
			<div class="gnb-logo"><a href="/?tracking=gnb_logo"><img src="/_ui/desktop/theme-jungwoneshop/imgs/logo_gnb.png" alt="정원e샵"></a></div>
			<div class="gnb-category-wrap">
				<h2 class="blind">상단 카테고리 메뉴 영역</h2>

				민훈아 잘하자


				<ul class="gnb-nav">
					<li><a href="/todaySpecialPrice?tracking=gnb_today"><i class="gnb-nav-txt type1">TODAY특가</i></a></li>
					<li><a href="/benefit/couponBook?tracking=gnb_coupon"><i class="gnb-nav-txt type2">쿠폰/혜택</i></a></li>
					<li><a href="/exhibitionTheme?tracking=gnb_mychef"><i class="gnb-nav-txt type3">나만의쉐프</i></a></li>
					<li><a href="/specialization/brandMallList?tracking=gnb_brand"><i class="gnb-nav-txt type4">브랜드관</i></a></li>
					<li><a href="/kimchi/kimchiWorkshop?tracking=gnb_kimchi"><i class="gnb-nav-txt type6">김치공방</i></a></li>
					<!-- <li><a href="javascript:isKimChiLayer();"><i class="gnb-nav-txt type5">나만의 김치</i></a></li> -->
					<!-- <li><a href="javascript:openMainPopup('01');" ><i class="gnb-nav-txt type5">나만의 김치</i></a></li> -->
				</ul>
			</div>



			<div class="gnb-right">

				<div class="gnb-cartlist-wrap">
					<a href="javascript:void(0);" class="btn-gnb-cart open">
						<i class="ic ic-cart-icon">장바구니 입니다<span class="cart-cnt">0<i class="blind">개 담김</i></span></i>
					</a>
					<a href="javascript:void(0);" class="btn-gnb-cart close">
						<i class="ic ic-gnb-toggle-close">장바구니 닫기입니다</i>
					</a>
				</div>
				<ul class="gnb-member-menu">
					<li><a href="/login?tracking=gnb_login">로그인</a></li>
					<li><a href="https://member.daesang.com:444/join/welcome.do?site=APP_002" target="_blank">회원가입</a></li>
				</ul>
			</div>
		</div>


</header>



</body>
</html>