{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>엄마의 부엌 | 로그인</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/member.css">
</head>
<body class="login_body">
<div class="login_div">
    <form method="post" action="/login_main">
        <a href="/"><img src="../static/img/logo.png" style="width : 100px; display: block; margin: 0 auto;"></a>
        <ul>

            <li><input type="text" placeholder="아이디" name="userid"></li>

            <li><input type="password" placeholder="비밀번호" name="userPW"></li>

            <button type="submit" class="btn_login">로그인</button>
            <p> 계정이 없다면 ?</p>
            <button type="button" class="btn_newMember" onclick="location.href='/join'">회원가입</button>
        </ul>
    </form>

</div>
</body>
</html>