<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: linear-gradient(135deg, red, orange, yellow, green, blue, darkblue, purple)">
<div style="display: inline">
<img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">


    </div>
<div>
    <img src="../static/img/매니저님1.png" style="width: 700px; height: 515px; margin: auto; display: block" >
</div>
<div style="display: inline">
<img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">
    <img src="../static/img/매니저님1.png" style="width: 120px; height: 120px">


    </div>

</body>
</html>