<!DOCTYPE html>
<html lang="ko"> <!--en: 영어 ko: 한글-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>제품 확인</title>
    <style>
        .body{
            margin: auto;
            width: 800px;
        }
        .center-block {
            text-align: center;
        }
        #navset{
            margin: 10px auto;
            display: flex;
            text-align: center
        }
    </style>
    <script>
        $.ajax({
                type: "GET",
                url: "URL",
                data: {},
                success: function(response){
                console.log(response)
                }
        })
    </script>


</head>
<body class="body">
    <div style="float: right;">
        
        <button > ssss</button>
        <button > ssss</button>
        <button > ssss</button>
    </div>
    <br>
    <div class="center-block">
        <img src="../static/img/logo.png" alt="myimg" style="margin-left: auto; margin-right: auto; width: 200px; height: auto;">
        <nav id = "navset">
            <a href="./mypage.html" style="flex: 1;">이런</a> |
            <a href="./mypage.html" style="flex: 1;">이런</a> |
            <a href="./mypage.html" style="flex: 1;">이런</a> |
            <a href="./mypage.html" style="flex: 1;">이런</a>
        </nav>
    </div>
    <ul class="media-list">
        <li class="media">
          <div class="media-left">
            <a href="./mypage.html">
              <img class="media-object" src="../static/img/logo.png" alt="..."style="margin-left: auto; margin-right: auto; width: 200px; height: auto;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">상품 내용 내용..!!</h4>
            이러한 내용내용!!
          </div>
          <div style="float: right;">
            <button>버튼</button>
            <button>버튼</button>
            <button>버튼</button>
            </div>
        </li>
    </ul>
    <nav id = "navset">
        <a href="./mypage.html" style="flex: 1;">유휴</a> |
        <a href="./mypage.html" style="flex: 1;">으앗</a> |
        <a href="./mypage.html" style="flex: 1;">가나</a> |
        <a href="./mypage.html" style="flex: 1;">드가자</a>
    </nav>
</body>
</html>