<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href = "../static/css/common.css">
    <script src="../static/js/common.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Title</title>

    <script>
        function showOrderList(){
            let phone = $('#phone1').val() + '-' + $('#phone2').val() + '-' + $('#phone3').val()

            let temp_html = ``;
            let temp_html2 = ``;
            $.ajax({
                type: "POST",
                url: "/orderlist/find",
                data: {'phone':phone},
                success: function (response) {
                    console.log(response)
                    const data = response['orderlist']
                    for (let i = 0; i < data.length; i++) {
                        let data_name = data[i]['name']
                        //let data_cnt = data[i]['cnt']
                        let data_addr = data[i]['addr']
                        let data_phone = data[i]['phone']
                        let data_listorder = data[i]['listorder']
                        console.log(typeof(data_listorder))
                        
                        for( let a = 0 ; a < data_listorder.length; a++){
                            temp_html2 += "매뉴" +data_listorder[a].split(',')[0]
                            temp_html2 += "가격" +data_listorder[a].split(',')[1]
                            temp_html2 += "수량" +data_listorder[a].split(',')[2]
                        }

                        temp_html += `
                                <tr>
                                    <td>${data_name}</td>
                                    <td>${data_addr}</td>
                                    <td>${data_phone}</td>
                                    <td>${temp_html2}</td>
                                </tr>
                            `;
                        temp_html2 =``;

                    }
                    $("#orderTable").append(temp_html)
                }
            })
        }
        function showdelivery(){
            $.ajax({
                type: "GET",
                url: "https://apis.tracker.delivery/carriers/kr.lotte/tracks/241560564195",
                data: {},
                success: function (response) {
                    let test = response['state']['text']
                    console.log(response)
                    console.log(test)
                }
            })
        }
        function showdelivcom(){
            $.ajax({
                type: "GET",
                url: "https://apis.tracker.delivery/carriers",
                data: {},
                success: function (response) {
                    let test = response['message']
                    console.log(response)
                }
            })
        }
        $(document).ready(function () {
                        showdelivery();
                        showdelivcom();
                });
    </script>
</head>
<body class="bodycs">
        <!-- <header w3-include-html = "header.html"></herder> -->
        <header w3-include-html="header.html"></header>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">전화번호 </label>
            </div>
            <select class="custom-select" id="phone1">
                <option value="010" selected>010</option>
                <option value="011">011</option>
                <option value="016">016</option>
                <option value="017">017</option>
                <option value="018">018</option>
                <option value="019">019</option>
            </select>
            -
            <input type='tel' class="form-control" id="phone2" maxlength="4">
            -
            <input type='tel' class="form-control" id="phone3" maxlength="4">
            <button onclick="showOrderList()">조회</button>
            <a href="https://tracker.delivery/#/kr.hanjin/1111111111111" target="_blank">배송조회</a>
        </div>
        <table id="orderTable">

        </table>


        <script>
                includeHTML();
        </script>

        <footer w3-include-html="footer.html"></footer>

</body>
</html>