<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- 다운로드받지 마시고 CDN 이용하듯 이대로 링크하세요. API 의 버그 수정 등의 변화를 일일히 적용할 필요가 없습니다. ssl 대응되므로 url 을 수정하지 마세요. -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://xeno.work/roadzip/daum.js"></script>

    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/order.css">
    <script src="../static/js/common.js"></script>
    <script src="https://kit.fontawesome.com/447b429f54.js" crossorigin="anonymous"></script>
    <title>엄마의 부엌 | 주문하기</title>

    <script>
        $(document).ready(function () {
            setOrderDate();
            showOrders();
        });

        /**
        * @brief 배송희망일을 내일 날짜부터 지정할 수 있게 만든다
        * @author 김진회
        */
        function setOrderDate(){
            let targetdate = new Date(); // 현재 날짜시각정보 date객체로 가져오기
            Date(targetdate.setDate(targetdate.getDate() + 1)); // date객체값을 내일로 변경 setting하기

            let year = targetdate.getFullYear(); // 년도
            let month = targetdate.getMonth()+1;  // 월
            let date = targetdate.getDate();  // 날짜
            if(month < 10){
                month = "0"+month
            }
            if(date < 10){
                date = "0"+date
            }
            document.getElementById('datedata').setAttribute('min', year+'-'+month+'-'+date);
            //console.log(year+'-'+month+'-'+date);
        }


        /**
         * @brief 로컬스토리지 장바구니와 입력받은 배송정보를 가져와 주문을 등록합니다
         * @param {}
         * @returns {}
         * @author 김도형
         */
        function saveOrder() {
            let name = $('#name').val()
            let addr = $('#address').val() + ' ' + $('#extraAddress').val()
            let code = $('#postcode').val()
            let phone = $('#phone1').val() + '-' + $('#phone2').val() + '-' + $('#phone3').val()
            let phone2 = $('#phone2').val()
            let phone3 = $('#phone3').val()
            let date = $('#datedata').val()
            let ero = $('#error').val()

            //validation - 적절한 값이 입력됐는지 체크
            if (name == "") {
                alert("이름을 입력해주세요!");
                return false;
            } else if (phone2 == "") {
                alert("핸드폰번호를 전부 입력해주세요!");
                return false;
            } else if (phone3 == "") {
                alert("핸드폰번호를 전부 입력해주세요!");
                return false;
            }else if (code == "") {
                alert("우편번호를 입력해주세요!");
                return false;
            } else if (addr == "") {
                alert("주소를 입력해주세요!");
                return false;
            }else if ( date == "") {
                alert("택배 발송일을 입력해주세요");
                return false;
            } else if (ero == "") {
                let answer = confirm("배송시 주의사항이 필요없으신가요?");
                if (answer == false){
                    return false;   
                }    
            }
            let menu = '';
            let price = 0;
            let count = 0;
            let index = 0;
            let img_url = '';
            let asr = [];
            let price_all = 0;
            let price_final = 0;
            let orderlist = [];
            if (localStorage.length > 0) {
                for (let i = 1; i < localStorage.length+1; i++) {
                    if(localStorage.getItem(i) !== null){
                        let cartItem = JSON.parse(localStorage.getItem(i))
                        index = cartItem.id;
                        menu = cartItem.menu;
                        price = cartItem.price;
                        count = cartItem.count;
                        img_url = cartItem.img_url;
                        price_all += Number(price);
                        asr.push(menu);
                        asr.push(price);
                        asr.push(count);
                        orderlist.push(asr);
                        asr = [];
                        
                    }
                }
                price_final = price_all + 4000;
            }
            
            //console.log(date, ero)
            //console.log(name, addr, code, phone, orderlist, price_all)
            $.ajax({
                dataType:"json",
                traditional: true,
                type: "POST",
                url: "/order/do",
                data: {
                    "name": name,
                    "addr": addr,
                    "code": code,
                    "phone": phone,
                    "orderlist[]":orderlist,
                    "date":date,
                    "ero": ero,
                    "price_final":price_final
                },
                success: function (response) {
                    window.localStorage.clear(); // 주문을 완료할 경우 장바구니 clear
                    alert(response['msg']);
                    window.location.reload()
                }
            })
        }


        /**
         * @brief localStorage에 저장된 장바구니 항목들을 가져와서 html을 작성합니다.
         * @param {}
         * @returns {}
         * @author 김진회
         */
        function showOrders(){
            let temp_html = ``;
            let temp_html2 = ``;
            let menu = '';
            let price = 0;
            let count = 0;
            let index = 0;
            let img_url = '';
            let price_all = 0;
            if (localStorage.length > 0) {
                for (let i = 1; i < localStorage.length+1; i++) {
                    if(localStorage.getItem(i) !== null){
                        let cartItem = JSON.parse(localStorage.getItem(i))
                        index = cartItem.id;
                        menu = cartItem.menu;
                        price = cartItem.price;
                        count = cartItem.count;
                        img_url = cartItem.img_url;
                        price_all += Number(price);

                        // input hidden 코드 +, -, deleteMenu를 위해 추가 - 진회
                        temp_html += `
        <div class="order_inner">
            <input class="index" type="hidden" value=${index} />
            <li>
                <img src="${img_url}" alt="${menu}" class="banchan_img" >
            </li>
            <dl>
                <dt>
                    <div>
                        <h1>${menu} <img src="../static/img/cross-sign.png" style="width: 20px; height: 20px; margin-left: 5px" onclick="deleteMenu(this)"/></h1>
                        <img src="../static/img/minus.png" onclick="updateCount(this,-1)"><span>주문수량 : ${count} 개</span><img src="../static/img/plus.png" onclick="updateCount(this,1)">
                    </div>
                </dt>
            </dl>

        </div>

            <ul class="title">
                <li class="title_p">
                    주문가격
                </li>
                <li>
                    <span>
                        <span>${price}</span>

                    원</span>
                </li>
            </ul>
            <p>

                </p>



                        `;
                    }
                }
                price_final = price_all + 4000;
                $("#orderDiv").append(temp_html)
                temp_html2 = `<p>총 상품가격 ${price_all}원 입니다</p><br><p>배송비 4000원 포함</p><br> 
                <p>총 결제하실 금액 ${price_final+4000}원`
                $("#pricesum").html(temp_html2)
            }
            else{
                temp_html =`<div class="order_inner">
                        장바구니가 비어있습니다.
                    <div>
                    `
                $("#pricesum").html(temp_html)
            }
            
        }

         /**
         * @brief localStorage 장바구니에 저장된 상품수량을 변경합니다.
         * @param {object} 현재 클릭된 버튼 태그의 this
         * @param {number} 현재 수량에 더할 숫자(+1 or -1)
         * @returns {}
         * @author 김진회
         */
         function updateCount(e, num){

            //현재 고치려고 하는 데이터의 index값 찾기
            let target = $(e).closest('div.order_inner').find('.index').val();
            //해당 index의 데이터 불러오기
            let cartItem = JSON.parse(localStorage.getItem(target))
            //가져온 데이터에서 수량값이 현재 1이거나 그 이하이고 마이너스버튼을 눌렀을 경우엔 안내메시지 띄우고 중단
            if(cartItem.count < 2 && num === -1){
                alert("수량은 최소 1개입니다. 삭제를 원하실 경우 삭제버튼을 이용해주세요.");
                return false;
            }
            //나머지는 그대로, 수량count과 가격price만 변경하여 기존 데이터를 삭제하고 다시 넣기
            let index = Number(target);
            let id = Number(index);
            let menu = cartItem.menu;
            //총 가격에서 개수를 나눠 단가를 계산한 뒤, num을 곱해 +인지 -인지 결정
            let price = cartItem.price + num*(cartItem.price/cartItem.count);
            let count = cartItem.count + num;
            let img_url = cartItem.img_url;
            let value = {
                id: id,
                menu: menu,
                price: price,
                count: count,
                img_url: img_url
            };
            localStorage.setItem(index, JSON.stringify(value)); //localStorage에 저장(덮어쓰기됨)
            window.location.reload();
        }

        /**
         * @brief localStorage 장바구니에 저장된 상품을 삭제하고 key 순서를 재정렬합니다.
         * @param {object} 현재 클릭된 버튼 태그의 this
         * @returns {}
         * @author 김진회
         */
        function deleteMenu(e){

            //현재 버튼 누른 메뉴의 index값 불러와서 localStorage에서 삭제
            let del_index = $(e).closest('div.order_inner').find('.index').val();

            localStorage.removeItem(del_index);

            //localStorage의 남은 값들을 모두 불러와서 index를 앞쪽숫자부터 다시 부여해서 순서대로 재등록(index와 cart페이지의 for문이 정상적으로 돌도록)
            if (localStorage.length > 0) {
                //새로운 index를 앞에서부터 차례로 부여해주기 위한 j 변수 선언
                let j = 0;
                //+2인 이유: 0부터가 아닌 1부터 시작하므로 +1, 이미 지워진 하나때문에 값이 하나씩 밀려있으므로 getItem(i)가 끝까지 다 가려면 +1
                for (let i = 1; i < localStorage.length+2; i++) {
                    if (localStorage.getItem(i) !== null) {
                        j++;
                        //전부 가져와서 그대로 재등록하기.(key, id값만 변경됨)
                        let cartItem = JSON.parse(localStorage.getItem(i))
                        //console.log(cartItem)
                        let index = j;
                        let id = Number(index);
                        let menu = cartItem.menu;
                        let price = cartItem.price;
                        let count = cartItem.count;
                        let img_url = cartItem.img_url;
                        let value = {
                            id: id,
                            menu: menu,
                            price: price,
                            count: count,
                            img_url: img_url
                        };
                        //지금 새로 등록하려는 데이터를 localStorage에서 삭제(삭제하지 않으면 중복으로 남아있게 됨)
                        localStorage.removeItem(i);
                        localStorage.setItem(index, JSON.stringify(value)); //localStorage에 저장
                    }
                }
            }
            window.location.reload();
        }

        /**
         * @brief localStorage 데이터(장바구니) 전체 삭제
         * @author 김진회
         */
        function deleteAll(){
            let answer = confirm("모든 상품을 삭제하시겟습니까?");
            if(answer){
                window.localStorage.clear();
                window.location.reload();
            }
            
        }


    </script>
</head>
<body>
<!--헤더영역-->
<header w3-include-html="header.html"></header>

<!--맘스키친 주문하기-->
<div>
    <p>맘스키친 주문하기</p>
   <div id="orderDiv">
      
        <!-- <div class="order_inner">
            <li>
                <img src="../static/img/KakaoTalk_20210719_190856996_27.jpg" alt="" class="banchan_img">
            </li>

            <dl>
                <dt>
                    <div>
                        <div>
                        <h1>감자조림 &nbsp;&nbsp;<img src="../static/img/cross-sign.png" style="width: 20px; height: 20px; margin-left: 5px" onclick="deleteMenu(this)"/></h1>
                        <img src="../static/img/minus.png" onclick="updateCount(this,-1)"><span>주문수량 : 10 개</span><img src="../static/img/plus.png" onclick="updateCount(this,1)">


                    </div>

                </dt>
            </dl>

        </div>

            <ul class="title">
                <li class="title_p">
                    주문가격
                </li>
                <li>
                    <span>
                        <span>100000</span>

                    원</span>
                </li>
            </ul>
            <p>

                </p>

            -->
      </div>


    <p id = "pricesum"></p>
    <hr>
</div>
<!--맘스키친 배송 날짜 선택-->
<div>
    <p align="center">배송 받으실 날짜를 선택해 주세요</p>
    <form action="#" method="POST">
        <p align="center"><input id='datedata' type="date"></p>
        <!--날짜를 선택하면 n월 n일을 선택하셨습니다 뜨게-->

        <p align="center"><textarea id='error' placeholder="배송 시 주의사항에 대해 입력해 주세요." cols="80%" rows="5" style="width: 95%; resize: none;"></textarea></p>

    </form>
    <hr>
</div>

<!--맘스키친 개인정보 입력 폼-->
<div style="background-color : gray;" align="center">
    <pre style="color : white">선택하신 택배발송일 <b>하루 전 17시</b>까지<br/>아래 계좌로 입금해주셔야 주문이 <b>최종접수</b>됩니다.
    (계좌번호 : 하나 348-910231-61607 차민지)</pre>
</div>
<div style="width : 100%; margin: auto;" >
    <form action="#">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="이름을 입력해주세요" aria-label="name"
                   aria-describedby="basic-addon1" id="name">
        </div>

        <div class="input-group mb-3">
            <select class="custom-select" id="phone1">
                <option value="010" selected>010</option>
                <option value="011">011</option>
                <option value="016">016</option>
                <option value="017">017</option>
                <option value="018">018</option>
                <option value="019">019</option>
            </select>
            -
            <input type='tel' class="form-control" id="phone2" maxlength="4">
            -
            <input type='tel' class="form-control" id="phone3" maxlength="4">
        </div>
        <!--우편번호 찾기 API -->
        <form>
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="postcode" name="zipcode" placeholder="우편번호">
                <button type="button" class="btn btn-success DaumZipFinder">우편번호찾기</button>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="address" name="addr" placeholder="주소">
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="extraAddress" name="addr_remain" placeholder="상세주소">
            </div>
        </form>
    </form>

</div>
<div>
    <!--주문 접수하기! 버튼 -->
    <button type="button" onclick="saveOrder()" class="btn btn-primary btn-lg btn-block">주문 접수하기!</button>
</div>
<!-- form 아래쪽에 적용하면 되고, head 에 넣을경우 $(function() {}); 로 감싸세요. -->
<script>
    $('button.DaumZipFinder').each(DaumZipFinder);
</script>
<script>
    includeHTML();
</script>
<!--푸터영역-->
<footer w3-include-html="footer.html"></footer>

</body>
</html>
