<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/order.css">

    <script src="../static/js/common.js"></script>
    <script src="https://kit.fontawesome.com/447b429f54.js" crossorigin="anonymous"></script>
    <title>엄마의 부엌 | 주문확인</title>


    <script>
        /**
         * @brief 주문시 입력한 핸드폰번호로 해당 주문내역을 조회합니다.
         * @param {}
         * @returns {}
         * @author 김진회, 김도형
         */
        function showOrderList() {
            let phone = $('#phone1').val() + '-' + $('#phone2').val() + '-' + $('#phone3').val()

            let temp_html = ``;
            let temp_html2 = ``;
            $.ajax({
                type: "POST",
                url: "/orderlist/find",
                data: { 'phone': phone },
                success: function (response) {
                    $("#orderListDiv").html("")
                    const data1 = response['orderlist']
                    let data = JSON.parse(data1)
                    console.log(data)
                    for (let i = 0; i < data.length; i++) {
                        let data_name = data[i]['name']
                        let data_addr = data[i]['address']
                        let data_phone = data[i]['phone']
                        let data_listorder = data[i]['menu']
                        let data_priceall = data[i]['price']
                        let data_state = data[i]['state']
                        let data_today = data[i]['today']
                        let data_postmsg = data[i]['postmsg']
                        let data_deliverynum = data[i]['deliverynum']
                        let data_deliverycompany = data[i]['deliverycompany']
                        let data_id = data[i]['_id']['$oid']
                        let showlivery = showdelivery(data_deliverynum, data_deliverycompany)
                        console.log(data_deliverynum)
                        let delivery_check = ``
                        let delivery_state = ``
                        if(data_deliverynum !== '입력해주세요~'){
                            delivery_check  = `<a href="https://tracker.delivery/#/${data_deliverycompany}/${data_deliverynum}" target="_blank">배송조회(자세히)</a>`
                            delivery_state = `${showlivery}`
                        }else{
                            delivery_check =``
                            delivery_state = ``
                        }
                        for (let a = 0; a < data_listorder.length; a++) {
                            temp_html2 += `
                                        <div class="deli_banchan">
                                            <h1>${data_listorder[a].split(',')[0]}  </h1>
                                            <span>주문수량 : ${data_listorder[a].split(',')[2]} 개</span>
                                        </div>
                                    </div>
                                    <ul class="title">
                                        <li class="title_p">
                                            주문가격
                                        </li>
                                        <li>
                                            <span>
                                                <span>${data_listorder[a].split(',')[1]}</span>

                                                원</span>
                                        </li>
                                    </ul>
                                        `
                        }

                        temp_html = `
                        <div class="order_ListInner">
            <div class="deli_adress">
                <div>
                    <span style="margin-left: 4px;">배송 정보</span>${delivery_check}
                    
                </div>
               <div>
                   <li>${data_name} <a href="javascript:void(0);" onclick="deleorder(this);" attr-a="${data_id}"><img src="../static/img/cross-sign.png" style="width: 15x; height: 15px; margin-bottom: 3px;"/></a></li>
                   <li style="color:gray">${data_phone}</li>
                   <li>${data_addr}</li>
                   <li>${delivery_state}</li>
               </div>
            </div>
            ${temp_html2}
        <div>
            <div class="to_price">
                <li>
                    총 결제금액 (배송비 4000원 포함)
                </li>
                <li>
                    <span><span style="color:darkblue">${data_priceall}</span>원</span>
                </li>
            </div>
            <li>
                주문상태 : <span>${data_state}</span>
            </li>
            <li id = test>
                
            </li>
        </div>
                            `;
                        temp_html2 = ``;
                        $("#orderListDiv").append(temp_html)

                    }

                }
            })
        }


        // 배송현황 : 송장번호<a href="javascript:void(0);" onclick="showdelivery(this);" attr-a="${data_deliverycompany}" attr-b= "${data_deliverynum}">${data_deliverynum}</a>
        //배송추적 API  241560564195 kr.lotte
        function showdelivery(num, company) {
            //console.log(num)
            //console.log($(num).attr('attr-a'))
            //console.log(company)
            let test = ''
            $.ajax({
                type: "GET",
                url: "https://apis.tracker.delivery/carriers/" + company + "/tracks/" + num,
                async: false,
                data: {},
                success: function (response) {
                    test = response['progresses'][0]['description']
                    console.log(test)
                    //$("#"+btag).html(temp_html) 
                }
            })
            return test

        }

        //배송추적 API 택배회사 목록.
        function showdelivcom() {
            $.ajax({
                type: "GET",
                url: "https://apis.tracker.delivery/carriers",
                data: {},
                success: function (response) {
                    let test = response['message']
                    console.log(response)
                }
            })
        }

        //주문 삭제 선택한 주문만 삭제합니다.
        function deleorder(orderid) {
            let menuid = $(orderid).attr('attr-a')
            console.log(menuid)
            let ans = confirm("주문이 완전히 삭제됩니다 정말 주문을 취소하시겠습니까?")
            if(ans){
                $.ajax({
                    type: "POST",
                    url: "/orderlist/dele",
                    data: { 'id': menuid },
                    success: function (response) {
                        let msg = response['msg']
                        alert(msg)
                        showOrderList()
                    }
                })
            }  
        }

        $(document).ready(function () {
            // showdelivcom();
        });
    </script>
</head>

<body class="bodycs">
    <header w3-include-html="header.html"></header>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text">전화번호 </label>
        </div>
        <select class="custom-select" id="phone1">
            <option value="010" selected>010</option>
            <option value="011">011</option>
            <option value="016">016</option>
            <option value="017">017</option>
            <option value="018">018</option>
            <option value="019">019</option>
        </select>

        <input type='tel' class="form-control" id="phone2" maxlength="4">

        <input type='tel' class="form-control" id="phone3" maxlength="4">
        <button type="button" class="btn btn-info" onclick="showOrderList()">조회하기</button>
    </div>
    <div id="orderListDiv">
        <div class="deli_adress">
            <div>
                <span style="margin-left: 4px;">주문시 입력한 전화번호로 주문조회가 가능합니다.</span>
            </div>
        </div>
        
        
        <!-- <div class="order_ListInner">
            <div class="deli_adress">
                <div>
                    <span style="margin-left: 4px;">배송지</span>
                    <a href="javascript:void(0)" onclick="showdelivery(this)" attr-a="test">배송조회</a>
                </div>
                <div>
                    <li>이민훈</li>
                    <li style="color:gray">010-0000-0000</li>
                    <li>광주 서구 월드컵4강로 28번길 50-293 00아파트 312동 1101호</li>
                </div>
            </div>
            <div class="deli_banchan">
                <h1>감자조림 <img src="../static/img/cross-sign.png" style="width: 15x; height: 15px; margin-bottom: 3px;"
                        onclick="" /></h1>
                <span>주문수량 : 10 개</span>
            </div>

        </div>
        <ul class="title">
            <li class="title_p">
                주문가격
            </li>
            <li>
                <span>
                    <span>100000</span>

                    원</span>
            </li>
        </ul>

        <div>
            <div class="to_price">
                <li>
                    총 주문가격
                </li>
                <li>
                    <span><span style="color:darkblue">100000</span>원</span>
                </li>
            </div>
            <li>
                입금현황 : <span>미입금</span>
            </li>
            <li id=test>

            </li>
        </div> -->


    </div>

    <footer w3-include-html="footer.html"></footer>
    <script>
        includeHTML();
    </script>
</body>

</html>