<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- 부트스트랩! -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <script src="../static/js/common.js"> </script>
    <script src="https://kit.fontawesome.com/447b429f54.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
    <title>test</title>
    <script> 
        function testjax() {
            let phone = $("#test").text()
            $.ajax({
                type: 'POST',
                url: 'orderlist/find',
                data: {
                    'phone': phone
                },
                success: function (response) {
                    let orderlist = response['orderlist'];
                    let a = JSON.parse(orderlist)
                    console.log(a)
                    let temp_html = ``;
                    // for (let i = 0; i < a.length; i++) {
                    //     let img = a[i]["img"]
                    //     let menu = a[i]['menu']
                    //     let price = a[i]['price']
                    //     let hide = a[i]['hide']
                    //     let rc = a[i]['category']
                        
                    // }
                    // $("#cards-box").html(temp_html)
                }
            });
        }
        $(document).ready(function () {
            testjax();
        });
    </script>
</head>

<body>
    <header w3-include-html="header.html"></header>
    
    <div>
        test
    </div>
  

    
    <script>
        includeHTML();
    </script>
    <footer w3-include-html="footer.html"></footer>

</body>

</html>